<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Representações</title>
</head>
<body>
    <h2>Etapa 2<h2>
    <div class="card">
      <div class="card-body">
        <% data.forEach(function(produto) { %>
          <form action="/produto/edit/<%= produto._id %>" method="POST">
            <input type="number" value="<%= produto.quantidade %>" name="quantidade">
            <select name="codigo">
              <option value="<%= produto.codigo %>" name="codigo"><%= produto.codigo %></option>
              <% data1.forEach(function(porta) { %>
              <option value="<%= porta.codigo %>" name="codigo"><%= porta.codigo %> - <%= porta.nome %></option>
              <% }) %>
            </select>
            <label>Tamanho</label>
            <select name="tamanho">
              <option value="<%= produto.tamanho %>" name="tamanho"><%= produto.tamanho %></option>
              <% data2.forEach(function(tamanho) { %>
              <option value="<%= tamanho.tamanho %>" name="tamanho"><%= tamanho.tamanho %></option>
              <% }) %>
            </select>
            <br/>
            <a onclick="history.back()">Voltar</a>
            <button type="submit">Editar</button>
          </form>
        <% }) %>
        <br>
      </div>
    </div>
</body>
</html>
