<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Representações</title>
</head>
<body>

  <div class="container">
    <div class="card" style="background-color: #eee;">
      <h2><a class="mt-1" href="/">Início</a></h2>
      <h2><a href="/empresa/show">Empresa/</a>Editar Empresa</h2>
      <div class="card-body w-50 p-3 mx-auto" >
        <% data.forEach(function(details) { %>
          <form action="/empresa/edit/<%= details._id %>" method="POST">
          <div class="column-3 column label">
            <label for="txtLogon">Razão Social</label>
          </div>
          <div class="column-9 column input">
            <input class="form-control" type="text" name="razaosocial" value="<%= details.razaosocial %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">Nome Fantasia</label>
          </div>
          <div class="column-9 column input">
            <input class="form-control" type="text" name="nomefantasia" value="<%= details.nomefantasia %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">Endereço</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="endereco" value="<%= details.endereco %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">Número</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="numero" value="<%= details.numero %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">Bairro</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="bairro" value="<%= details.bairro %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">Cidade</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="cidade" value="<%= details.cidade %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">CEP</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="cep" value="<%= details.cep %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">CNPJ</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="cnpj" value="<%= details.cnpj %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">Inscrição Estadual</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="ie" value="<%= details.ie %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">Email</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="email" value="<%= details.email %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">Telefone</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="telefone" value="<%= details.telefone %>">
          </div>
          <div class="column-3 column label">
            <label for="txtLogon">Comprador</label>
          </div>
          <div class="column-9 column input">
          <input class="form-control" type="text" name="comprador" value="<%= details.comprador %>">
          </div>
          <a class="btn btn-secondary mt-1" href="/empresa/show">Voltar</a>
          <button class="btn btn-success float-right mt-1" type="submit">Editar</button>
        </form>
        <% }) %>

      </div>
    </div>
  </div>

</body>
</html>
