<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
<div class="container">
<h2>Empresas<h2>
  <a class="btn btn-primary" href="/empresa/create" role="button">Adicionar empresa</a>
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">Razão Social</th>
        <th scope="col">Nome Fantasia</th>
        <th scope="col">Endereço</th>
        <th scope="col">Cidade</th>
        <th scope="col">CEP</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Inscrição Estadual</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Comprador</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(details) { %>
          <tr>
              <td><%= details.razaosocial %></td>
              <td><%= details.nomefantasia %></td>
              <td><%= details.endereco %></td>
              <td><%= details.cidade %></td>
              <td><%= details.cep %></td>
              <td><%= details.cnpj %></td>
              <td><%= details.ie %></td>
              <td><%= details.email %></td>
              <td><%= details.telefone %></td>
              <td><%= details.comprador %></td>
              <td><a href="/empresa/edit/<%= details._id %>">Editar</a> - <a href="/empresa/delete/<%= details._id %>">Deletar</a></td>
          </tr>
          <% }) %>
    </tbody>
  </table>
<button><a href="/">Voltar</a></button>
</div>
</body>
</html>
