<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
<div class="container">
<h2>Portas<h2>
  <a class="btn btn-primary" href="/portas/create" role="button">Adicionar porta</a>
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(details) { %>
          <tr>
              <td><%= details.codigo %></td>
              <td><%= details.nome %></td>
              <td><%= details.valor %></td>
              <td><a href="/portas/edit/<%= details._id %>">Editar</a> - <a href="/portas/delete/<%= details._id %>">Deletar</a></td>
          </tr>
          <% }) %>
    </tbody>
  </table>
<button><a href="/">Voltar</a></button>
</div>
</body>
</html>
